<div class="box box-portrait">
    <h3><%= destination.NAME %></h3>
    <img src="<%= url %>"/>
    <div class="hashtags">
        <div>
            <h4>Tags</h4>
            <p>
                <% if (typeof(hashtags) != "undefined" && hashtags.length != 0) { %>
                        <% for (var i = 0; i < hashtags.length - 1; i++) { %>
                            <a href="/hashtags/<%= hashtags[i].TAG %>">#<%= hashtags[i].TAG %></a>, 
                        <% } %>
                        <a href="/hashtags/<%= hashtags[hashtags.length - 1].TAG %>">#<%= hashtags[hashtags.length - 1].TAG %></a>
                <% } else { %>
                    Currently no hashtags.
                <% } %>
            </p>
        </div>
        <% if (typeof(isOwner) != "undefined" && isOwner) { %>
            <form method="post" action="/hashtags/add">
                <label for="enter-hashtag">Add Hashtag</label>
                <input id="enter-hashtag" type="text" name="tag" maxlength="20" value="#"></input>
                <input type="hidden" name="type" maxlength="20" value="Destination"></input>
                <input type="hidden" name="mid" maxlength="20" value="<%= did %>"></input>

                <input class="input-submit-hashtag" type="submit" value="Add"></input>
            </form>
        <% } %>
    </div>
</div>
