<div class="box box-portrait">
    <img src="/images/filler.jpg"/>
    <h3><%= user.FULL_NAME %><% if (user.AFFILIATION) { %> of <%= user.AFFILIATION %><% } %></h3>
    <% if (user.INTERESTS) { %><p><%= user.INTERESTS %></p><% } %>
    <div class="actions">
        <h4>Actions</h4>
        <ul>
            <% if (authUser && user.USERNAME !== authUser) { %>
                <% if (friends.indexOf(authUser) === -1) { %>
                    <form role="form" action="/friends/<%=user.USERNAME %>" method="post">
                        <li><input type="submit" class="linkButton" value="Befriend"></li>
                    </form>
                <% } else { %>
                    <form role="form" action="/unfriend/<%=user.USERNAME %>" method="post">
                        <li><input type="submit" class="linkButton" value="Unfriend"></li>
                    </form>
                <% } %>
            <% } else { %>
                <li><a href="/users/<%= authUser %>/edit">Edit Profile</a></li>
                <li><a href="/trips/new">Create Trip</a></li>
                <li><a href="/destinations/new">Create Destination</a></li>
                <li><a href="">Create Album</a></li>
            <% } %>
        </ul>
    </div>
</div>
 
